@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*=================================
  Header styling starts here
=================================*/

header {
    width: 100%;
    padding: 35px 0;
    position: absolute;
    top: 0;
}

nav,
.navigation {
    display: flex;
}

.navigation {
    flex: 1;
}

.logo {
    width: 75%;
    padding: 0 1%;
    color: #a2a899;
    font-size: 14px;
}

.highlight {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.logo span:nth-last-child(1) {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-item:nth-child(2) {
    margin: 0 10%;
}

.menu {
    display: none;
}

.active a {
    color: #f00;
}

.nav-item a {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-item a:hover {
    color: #034c55;
}

.active a {
    color: #034c55;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.banner {
    padding: 230px 0 35px 0;
    background-image: url("../images/slide01.jpg");
    z-index: -1;
}

.banner-description {
    padding-bottom: 30px;
    color: #7d9fa7;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-title {
    width: 23%;
    padding: 15px 0;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

.carousel-controls {
    padding-top: 170px;
    display: flex;
    justify-content: center;
}

.carousel-controls li {
    margin: 0 15%;
}

.control {
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #656565;
    font-size: 0;
}

.control:hover {
    background-color: #fff;
}

.control-active {
    background-color: #fff;
}

.learn-more {
    display: flex;
}


/*information section start here*/

.information {
    padding: 89px 0 93px 0;
    background-color: #f2f2f2;
}

.learn-more {
    display: flex;
}

.learn {
    width: 47%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn:nth-child(1) {
    margin-right: 5%;
}

.learn figure {
    width: 100%;
}

.learn-sub-title {
    padding: 49px 0 15px 0;
    color: #d0cac9;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4em;
    word-spacing: .2em;
}

.learn-more-title {
    width: 46%;
    padding: 5px 0 33px 0;
    border-top: 1px solid #cdcdcd;
    color: #454545;
    font-size: 28px;
    text-align: center;
}

.learn-description {
    width: 83%;
    padding-bottom: 34px;
    color: #d0cac9;
}

.btn-learn {
    padding: 12px 3%;
    border: 1px solid #cdcdcd;
    color: #454545;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-learn:hover {
    background-color: #454545;
    color: #fff;
}

.maximus {
    padding: 90px 0 82px 0;
    background-image: url(../images/bg.jpg);
    background-position: center;
}


/*maximus start here*/

.maximus .wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.maximus-description {
    padding-bottom: 15px;
    color: #abb3ca;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.maximus-title {
    width: 49%;
    padding: 10px 0;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 32px;
    text-align: center;
}


/*article start here*/

.gallery {
    padding: 91px 0 93px 0;
    background-color: #f2f2f2;
}

.gallery-title {
    width: 50%;
    padding: 14px 0 42px 0;
    border-top: 1px solid #cdcdcd;
    color: #454545;
    font-size: 27px;
    text-align: center;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 47%;
    padding: 14px 0;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
}

.gallery-item:nth-child(odd) {
    margin-right: 5%;
}

.gallery-item figure {
    width: 94%;
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    padding: 61px;
    background-color: #000;
}

.links {
    width: 100%;
    display: flex;
    justify-content: center;
}

.link {
    margin-right: 2%;
}

.link:nth-last-child(1) {
    margin: 0;
}

.link a {
    text-indent: -9999px;
}

.link a::before {
    color: #656565;
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 26px;
    text-indent: 0;
}

.link:nth-child(1) a::before {
    content: '\f099';
    float: right;
}

.link:nth-child(2) a::before {
    content: '\f39e';
    float: right;
}

.link:nth-child(3) a::before {
    content: '\f16d';
    float: right;
}

.link:nth-child(4) a:before {
    content: '\f0e0';
    float: right;
}

.copyright {
    padding-top: 40px;
    color: #656565;
    font-size: 16px;
}

.link a:hover::before {
    color: #fff;
}


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 996px starts here*/

@media only screen and (max-width: 996px) {
    .banner-title {
        width: 50%;
    }
}


/*media query for 768px starts here*/

@media only screen and (max-width: 768px) {
    .navigation {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .nav-item {
        width: 100%;
        display: none;
        background-color: #000;
        opacity: 0.6;
        text-align: center;
    }
    .nav-item:nth-child(2) {
        border: 1px solid #fff;
        border-left: transparent;
        border-right: transparent;
        margin: 0;
    }
    .menu {
        padding-left: 7%;
        display: block;
        color: #fff;
    }
    .menu::before {
        font-family: 'FontAwesome';
        font-weight: 900;
        content: '\f0c9';
    }
    .menu:hover::before {
        content: '\f00d';
    }
    .menu:hover .navigation .nav-item {
        display: block;
    }
    .learn-sub-title {
        text-align: center;
    }
    .learn-more-title {
        width: 80%;
    }
    .maximus-description {
        text-align: center;
    }
    .link {
        margin-right: 5%;
    }
    .copyright {
        width: 100%;
        text-align: center;
    }
}


/*media query for 540px starts here*/

@media only screen and (max-width: 540px) {
    .banner-title {
        width: 85%;
    }
    .learn-more {
        flex-direction: column;
        align-items: center;
    }
    .learn {
        width: 80%;
    }
    .learn:nth-child(1) {
        margin: 25px 0;
    }
    .gallery-items {
        flex-direction: column;
        align-items: center;
    }
    .gallery-item {
        width: 80%;
    }
    .gallery-item:nth-child(odd) {
        margin-right: 0;
    }
    .menu {
        padding-left: 0;
    }
}